.container {
  position: relative;
}

.container .banner {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 10.80rem; */
  height: 100vh;
}

.container .banner .banner_img {
  width: 100%;
  height: 125%;
  object-fit: cover;
}

.container .banner .banner_content {
  position: absolute;
  color: #fff;
  top: 2.79rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .05rem;
}

.container .banner .banner_content span {
  font-family: 'Medium';
  line-height: 150%;
}

.container .banner .banner_content p {
  font-family: 'Light';
  font-weight: 275;
  line-height: 100%;
}

.container .main {
  position: relative;
  background: #fff;
  /* position: absolute;
  top: 8.8rem; */
  width: 100%;
  /* background: url('../img/newsCenter/news_main_bg.png') no-repeat center top; */
  /* background-size: contain; */
  /* padding: 2.37rem 0 0 0; */
  margin: 2.37rem 0 0 0;
}

.container .main .bg {
  position: absolute;
  top: -1.9rem;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.container .main .bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .main .zz {
  position: absolute;
  top: -2.5rem;
  left: 0;
  width: 100%;
  height: 2rem;
  z-index: 0;
  overflow: hidden;
}

.container .main .footer .zz {
  top: -1rem;
}


.container .main .zz:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21.35rem;
  height: 2.57rem;
  background: url('../image/f_solid.png');
  background-size: 100% 100%;
  z-index: -2;
  animation: wave-flow 5s linear infinite;
}

@keyframes wave-flow {
  0% {
    background-position: 0 0;
  }

  100% {
    /* 背景图宽度 200px 时，移动 -200px 实现循环 */
    background-position: -21.35rem 0;
  }
}

.container .main .crumb {
  z-index: 1;
  /*padding-left: 1.3rem;*/
  /* margin-top: 2.37rem; */
  position: relative;
  display: flex;
  align-items: center;
  color: #666;
  /* margin-bottom: .8rem; */
  width: 16.6rem;
  margin: 0 auto .8rem auto;
}

.container .main .crumb .crumb-home {
  display: block;
  width: .24rem;
  height: .24rem;
  margin-right: .1rem;
}

.container .main .crumb .crumb_arrow {
  display: block;
  width: .14rem;
  height: .14rem;
  margin-right: .1rem;
}

.container .main .crumb a:last-child {
  color: #333;
}

.container .main .crumb a {
  font-family: 'regular';
  font-weight: 400;
  color: rgba(26, 56, 55, 1);
}

.container .main .top {
  display: flex;
  z-index: 1;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 16.6rem;
  margin: 0 auto 1.3rem auto;
}

.container .main .footer .top {
  margin: 0;
}

.container .main .top .label {

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.container .main .top .label .icon {
  width: .37rem;
  height: auto;
}

.container .main .top .label .title {
  font-weight: 500;
  font-family: 'Medium';
  line-height: 120%;
  color: rgba(29, 95, 99, 1);
  margin: .2447rem 0 .15rem 0;
}

.container .main .top .label .desc {
  font-weight: 275;
  font-family: 'Light';
  line-height: 150%;
  color: rgba(26, 56, 55, 1);
  /* margin: 0 0 .76rem 0; */
}

.container .main .top .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  height: 100%;
}

.container .main .top .controls .btns_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: .49rem;
  border-radius: .24rem 0 .24rem 0;
  border: .015rem solid rgba(102, 102, 102, 0.3);
  /* gap: .06rem; */
  /* padding: .03rem .04rem; */
  padding: .04rem;
}

.container .main .top .controls .btns_1 .btn {
  font-family: 'Regular';
  font-weight: 400;
  line-height: 150%;
  color: rgba(26, 56, 55, 1);
  background: #fff;
  border-radius: .24rem 0 .24rem 0;
  width: 3.2rem;
  /* height: .43rem; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* .container .main .top .controls .btns_1 .btn:hover, */
.container .main .top .controls .btns_1 .btn.active {
  color: #fff;
  background: linear-gradient(83.17deg, #0092DF -11.69%, #5BB531 108.84%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

}

.container .main .top .controls .btns_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .08rem;
}

.container .main .top .controls .btns_2 .btn {
  width: .32rem;
  height: .32rem;
  cursor: pointer;
}

.container .main .top .controls .btns_2 .btn img {
  width: 100%;
  height: 100%;
}

.container .main .top .controls .btns_2 .btn img.normal,
.container .main .top .controls .btns_2 .btn:hover img.active,
.container .main .top .controls .btns_2 .btn.active img.active {
  display: block;
}

.container .main .top .controls .btns_2 .btn.active img.normal,
.container .main .top .controls .btns_2 .btn:hover img.normal,
.container .main .top .controls .btns_2 .btn img.active {
  display: none;
}

.container .main .line {
  width: 16.6rem;
  border: .01rem solid rgba(0, 85, 72, 0.15);
  margin: .9rem auto .6rem auto;
}

.container .main .top_banner_box {
  display: block;
  width: 16.52rem;
  height: 5.73rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: .1rem;
  background: rgba(255, 255, 255, 1);
  margin: 0 auto;
  box-shadow: 0 .1rem .618rem 0 rgba(0, 146, 223, 0.08);
}


.container .main .top_banner_box .news_banner {
  width: 100%;
  height: 100%;
}

.container .main .top_banner {
  width: 100%;
  height: 100%;
  border-radius: .1rem;
  gap: .9rem;
  display: flex;
}

.container .main .top_banner .top_banner_img {
  width: 9.45rem;
  height: 5.73rem;
  border-radius: .1rem;
  overflow: hidden;
}

.container .main .top_banner .top_banner_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .1rem;
  transition: all .3s ease-in-out;
}

.container .main .top_banner .top_banner_img img:hover {
  transform: scale(1.05);
}

.container .main .top_banner .top_banner_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: start;
  position: relative;
}

.container .main .top_banner .top_banner_content .icon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 2.33rem;
    height: 1.42rem;
    opacity: 0;
    transition: all .5s;
}
.container .main .top_banner:hover .top_banner_content .icon {
    opacity: 1;
}

.container .main .top_banner .top_banner_content .time {
  font-family: 'Light';
  font-weight: 300;
  line-height: 100%;
  background: linear-gradient(83.17deg, #0092DF -11.69%, #5BB531 108.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1.15rem 0 .4rem 0;
  width: 5.76rem;
}

.container .main .top_banner .top_banner_content .title {
  font-family: 'Regular';
  font-weight: 400;
  line-height: 160%;
  color: rgba(26, 56, 55, 1);
  width: 5.76rem;
  margin: 0 0 .4rem 0;
  transition: all .5s;
  cursor: pointer;
}
.container .main .top_banner:hover .top_banner_content .title {
    background: linear-gradient(83.17deg, #0092DF -11.69%, #5BB531 108.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .main .top_banner .top_banner_content .desc {
  font-weight: 400;
  font-family: 'Regular';
  line-height: 150%;
  color: rgba(26, 56, 55, 0.6);
  margin: 0 0 .6rem 0;
  width: 5.76rem;

  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.container .main .top_banner .top_banner_content .top_banner_more {
  /*width: 1.34rem;*/
  /*height: .49rem;*/
  width: auto;
  height: auto;
  padding: .2rem;
  border-radius: .24rem 0 .24rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  font-family: 'Regular';
  font-weight: 400;
  line-height: 100%;
  color: #fff;
  background: linear-gradient(83.17deg, #0092DF -11.69%, #5BB531 108.84%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}


.container .main .top_banner .top_banner_content .top_banner_more {
  font-family: 'Regular';
  font-weight: 400;
  line-height: 100%;
  background: linear-gradient(83.17deg, #0092DF -11.69%, #5BB531 108.84%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .1rem;
  border-radius: .3rem 0 .3rem 0;
  position: relative;
  z-index: 1;
  /*width: 1.34rem;*/
  /*height: .47rem;*/
  transition: all 0.3s ease;
  cursor: pointer;
}


.container .main .top_banner .top_banner_content .top_banner_more::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(83.17deg, #0092DF -11.69%, #5BB531 108.84%);
  border-radius: .3rem 0 .3rem 0;
  z-index: -1;
  padding: .01rem;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
}


.container .main .top_banner .top_banner_content .top_banner_more::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(83.17deg, #0092DF -11.69%, #5BB531 108.84%);
  
  border-radius: .3rem 0 .3rem 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s ease;
}

.container .main .top_banner .top_banner_content .top_banner_more:hover::after {
  opacity: 1;
}

.container .main .top_banner .top_banner_content .top_banner_more:hover {
  -webkit-background-clip: none;
  background-clip: none;
  color: #fff;
}



.container .main .top_banner .top_banner_content .top_banner_more .normal,
.container .main .top_banner .top_banner_content .top_banner_more:hover .active {
  display: block;
}

.container .main .top_banner .top_banner_content .top_banner_more .active,
.container .main .top_banner .top_banner_content .top_banner_more:hover .normal {
  display: none;
}

.container .main .list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: .3667rem;
  margin: 1.2rem auto 1.25rem auto;
  width: 16.6rem;
  position: relative;
  z-index: 1;
}

.container .main .list .list_item {
  width: 5.27rem;
  /* height: 5.6rem; */
  border-radius: .14rem;
  background: rgba(247, 249, 250, 1);
  display: flex;
  flex-direction: column;
  position: relative;
}

.container .main .list .list_item:hover {
  background: #fff;
  box-shadow: 0 .1rem .618rem 0px rgba(0, 146, 223, 0.08);

}

.container .main .list .list_item .img_box {
  width: 100%;
  height: 3.2rem;
  border-radius: .14rem .14rem 0 0;
  overflow: hidden;
}

.container .main .list .list_item .img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .14rem .14rem 0 0;
  transition: all .3s ease-in-out;
}

.container .main .list .list_item .img_box img:hover {
  transform: scale(1.05);
}

.container .main .list .list_item .info {
  width: 100%;
  padding: .3rem .4rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 2.49rem;
}

.container .main .list .list_item .info .icon {
    position: absolute;
    opacity: 0;
    width: 2.335rem;
    height: 1.43rem;
    right: 0;
    bottom: 0;
    transition: all .5s ease-in-out;
}
.container .main .list .list_item:hover .info .icon {
    opacity: 1;
}

.container .main .list .list_item .info .tag {
  position: absolute;
  top: 0;
  left: 0;
  /*width: 1rem;*/
  /*height: .36rem;*/
  padding: .1rem;
  border-radius: .1rem 0 .1rem 0;
  display: block;
  font-family: 'Light';
  font-weight: 300;
  line-height: 100%;
  color: #fff;
  background: linear-gradient(83.17deg, #0092DF -11.69%, #5BB531 108.84%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .main .list .list_item .info .title {
  font-family: 'Regular';
  font-weight: 400;
  line-height: 150%;
  color: rgba(26, 56, 55, 1);
  margin: .17rem 0 .5rem 0;
  height: .67rem;
}
.container .main .list .list_item:hover .info .title {
    background: linear-gradient(83.17deg, #0092DF -11.69%, #5BB531 108.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .main .list .list_item .info .time {
  font-family: 'Light';
  font-weight: 300;
  line-height: 100%;
  color: rgba(102, 119, 120, 1);
  /* margin: .17rem 0 .4rem 0; */
}

.container .main .list .list_item:hover .info .time {
  background: linear-gradient(83.17deg, #0092DF -11.69%, #5BB531 108.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .main .list .list_item .info .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: .05rem;
  color: rgba(26, 56, 55, 1);
}

.container .main .list .list_item .info .btn span {
  font-family: 'Regular';
  font-weight: 400;
  line-height: 100%;


}

.container .main .list .list_item:hover .info .btn span {
  background: linear-gradient(83.17deg, #0092DF -11.69%, #5BB531 108.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .main .list .list_item .info .btn img {
  width: .12rem;
  height: .12rem;
}

.container .main .list .list_item .info .btn img.normal,
.container .main .list .list_item:hover .info .btn img.active {
  display: block;
}

.container .main .list .list_item:hover .info .btn img.normal,
.container .main .list .list_item .info .btn img.active {
  display: none;
}


.container .main .list2 {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  margin: 1.2rem auto 1.2rem auto;
  width: 16.6rem;
  position: relative;
  z-index: 1;
}

.container .main .list2 .list_item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  padding-bottom: .6rem;
  border-bottom: .01rem solid rgba(0, 85, 72, 0.15);
}

.container .main .list2 .list_item .img_box {
  width: 5.53rem;
  height: 3.46rem;
  border-radius: .1rem;
}

.container .main .list2 .list_item .img_box img {
  width: 100%;
  height: 100%;
  border-radius: .1rem;
  object-fit: cover;
  transition: all .3s ease-in-out;
}

.container .main .list2 .list_item .img_box img:hover {
  transform: scale(1.05);
}

.container .main .list2 .list_item .info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.container .main .list2 .list_item .info .time {
  font-family: 'Light';
  font-weight: 300;
  line-height: 100%;
  color: rgba(66, 74, 72, 1);
  margin: .425rem 0 0 0;
  background: rgba(245, 247, 250, 1);
  padding: .07rem .15rem;
  border-radius: 16.5rem;
}

.container .main .list2 .list_item .info .title {
  font-family: 'Medium';
  font-weight: 500;
  line-height: 150%;
  color: rgba(66, 74, 72, 1);
  margin: .39rem 0 .3rem 0;
}

.container .main .list2 .list_item:hover .info .title {
  color: transparent;
  background: linear-gradient(83.17deg, #0092DF -11.69%, #5BB531 108.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .main .list2 .list_item .info .desc {
  font-family: 'Regular';
  font-weight: 400;
  line-height: 150%;
  color: rgba(26, 56, 55, 0.6);
  margin: 0 0 .2rem 0;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.container .main .list2 .list_item .info .btn {
  width: 1.34rem;
  height: .49rem;
  border-radius: .24rem 0 .24rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #fff;
  border: .01rem solid rgba(102, 102, 102, 0.3);
}

.container .main .list2 .list_item:hover .info .btn {
  background: linear-gradient(83.17deg, #0092DF -11.69%, #5BB531 108.84%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

}

.container .main .list2 .list_item .info .btn::before {
  content: '';
  position: absolute;
  top: -0.01rem;
  left: -0.01rem;
  right: -0.01rem;
  bottom: -0.01rem;
  border-radius: .24rem 0 .24rem 0;
  background: linear-gradient(83.17deg, #0092DF -11.69%, #5BB531 108.84%);
  z-index: -1;
}

.container .main .list2 .list_item:hover .info .btn::before {
  background: linear-gradient(83.17deg, #0092DF -11.69%, #5BB531 108.84%);
}

.container .main .list2 .list_item .info .btn span {
  font-family: 'Regular';
  font-weight: 400;
  line-height: 100%;
  color: rgba(26, 56, 55, 1);
  background: linear-gradient(83.17deg, #0092DF -11.69%, #5BB531 108.84%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .main .list2 .list_item:hover .info .btn span {
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}









@media (max-width: 767px) {
    .container .banner {
        height: 134.6vw;
    }
    .container .banner .banner_content span {
        font-size: 26px;
    }
    .container .banner .banner_content p {
        font-size: 13px;
    }
    .container .main {
        padding: 0 17px;
    }
    .container .main .top {
        width: 100%;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        margin: 0;
    }
    .container .main .line {
        width: 100%;
        margin: 20px 0 30px 0;
    }
    .container .main .top_banner {
        flex-direction: column;
        gap: 0;
    }
    .container .main .top_banner_box {
        width: 100%;
        height: auto;
        
    }
    .container .main .top_banner .top_banner_img {
        width: 90.8vw;
        height: 53.3vw;
    }
    
    .container .main .top_banner .top_banner_content {
        padding: 0 17px 17px 17px;
    }
    .container .main .top_banner .top_banner_content .time {
        margin: 19.5px 0 0 0;
        font-size: 13px;
    }
    .container .main .top_banner .top_banner_content .title {
        font-size: 15px;
        margin: .1rem 0 .13rem 0;
        line-height: 1.4;
    }
    .container .main .top_banner .top_banner_content .top_banner_more {
        width: unset;
        height: unset;
        padding: 8.5px 9.5px;
    }
    .container .main .list {
        flex-direction: column;
    }
    .container .main .list .list_item {
        width: 90.8vw;
    }
    .container .main .list .list_item .img_box {
        height: 53.3vw;
    }
    .container .main .list .list_item .info .tag {
        font-size: 10px;
        padding: 5px 11px;
        border-radius: 5px 0 5px 0;
        width: unset;
        height: unset;
    }
    .container .main .list .list_item .info .time {
        margin: 19.5px 0 0 0;
        font-size: 13px;
    }
    .container .main .list .list_item .info .title {
        font-size: 15px;
        margin: 10px 0 13px 0;
        line-height: 1.4;
    }
    .container .main .list .list_item:hover .info .btn span {
        font-size: 12px;
    }
    .container .main .list .list_item .info {
        padding: 0 25px 33.5px 25px;
    }
    
    .f_16 {
        font-size: 12px;
    }
    .f_18 {
        font-size: 13px;
    }
    .f_20 {
        font-size: 13px;
    }
}





